In [1]:
# Import Packages
import numpy as np
import pandas as pd
import os

In [18]:
# Folder path
folder_path = r'C:\MIDS\ADS-506-Applied_Time_Series_Analysis\Bitcoin_time_series_analysis_and_forecast\data'

# Get a list of all CSV files in the folder
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# Create a dictionary to store DataFrames
dataframes = {}

# Read each CSV file into a DataFrame and store it in the dictionary
for csv_file in csv_files:
    file_name = os.path.basename(csv_file)  # Extract the file name from the path
    short_name = os.path.splitext(file_name)[0]  # Remove the file extension
    df = pd.read_csv(os.path.join(folder_path, csv_file))
    dataframes[short_name] = df

for name in dataframes:
    print(name)
# Now, dataframes is a dictionary where keys are the short names and values are the DataFrames
# You can access each DataFrame like dataframes['treasury_rates_df'], dataframes['federal_funds_df'], etc.

5-Year Breakeven Inflation Rate - 2018-2021
Crude Oil Prices Brent - Europe - 2018-2021
Crude Oil WTI Futures Historical Data - 2018-2021
Daily Federal Funds Rate from 2018-2021
daily-treasury-rates - 2018-2021
Digital_Currency
Dow Jones Industrial Average-DJIA - 2018-2021
Economic Policy Uncertainty Index for United States - 2018-2021

In [4]:
# Explore data characteristics
digitalCurrency_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   object
 1   open_SAR    1000 non-null   float64
 2   open_USD    1000 non-null   float64
 3   high_SAR    1000 non-null   float64
 4   high_USD    1000 non-null   float64
 5   low_SAR     1000 non-null   float64
 6   low_USD     1000 non-null   float64
 7   close_SAR   1000 non-null   float64
 8   close_USD   1000 non-null   float64
 9   volume      1000 non-null   int64
dtypes: float64(8), int64(1), object(1)
memory usage: 78.2+ KB

In [5]:
# Explore missing values
digitalCurrency_df.isnull().sum()

Unnamed: 0    0
open_SAR      0
open_USD      0
high_SAR      0
high_USD      0
low_SAR       0
low_USD       0
close_SAR     0
close_USD     0
volume        0
dtype: int64

In [6]:
# Explore descriptive statistics 
digitalCurrency_df.describe()

,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,34825.322255,9285.762120,35789.618165,9542.880270,33796.329057,9011.393200,34917.483572,9310.335850,53100.498000
std,21728.028028,5793.522832,22785.946842,6075.604427,20565.410145,5483.524463,21928.280072,5846.917681,35329.832031
min,12045.197184,3211.710000,12288.185600,3276.500000,11837.237504,3156.260000,12045.234688,3211.720000,5743.000000
25%,24254.558752,6467.192500,24686.089152,6582.255000,23721.336256,6325.015000,24252.946080,6466.762500,30045.750000
50%,30714.632128,8189.695000,31321.953152,8351.630000,30010.869568,8002.045000,30713.263232,8189.330000,43795.500000
75%,38317.311744,10216.860000,39077.527200,10419.562500,37158.878816,9907.977500,38329.725568,10220.170000,64909.250000
max,152217.334784,40586.960000,157329.280000,41950.000000,145215.488000,38720.000000,152201.770624,40582.810000,402201.000000

In [7]:
# Rename the column with no name to 'Date'
digitalCurrency_df = digitalCurrency_df.rename(columns={digitalCurrency_df.columns[0]: 'Date'})
digitalCurrency_df.head()

,Date,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
0,2021-01-30,128437.248512,34246.28,131012.723200,34933.00,123106.880000,32825.00,128333.212416,34218.54,43072
1,2021-01-29,125144.022272,33368.18,144510.037760,38531.90,119695.516160,31915.40,128459.450880,34252.20,231827
2,2021-01-28,113870.357376,30362.19,126703.438592,33783.98,111919.811840,29842.10,125131.570944,33364.86,92621
3,2021-01-27,121753.023104,32464.01,122102.860416,32557.29,109668.146688,29241.72,113885.208960,30366.15,95911
4,2021-01-26,120966.114176,32254.19,123470.218752,32921.88,115652.472448,30837.37,121767.124608,32467.77,84972

In [8]:
# Convert 'Date' column from object to datetime format
digitalCurrency_df['Date'] = pd.to_datetime(digitalCurrency_df['Date'])
digitalCurrency_df.head()

,Date,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
0,2021-01-30,128437.248512,34246.28,131012.723200,34933.00,123106.880000,32825.00,128333.212416,34218.54,43072
1,2021-01-29,125144.022272,33368.18,144510.037760,38531.90,119695.516160,31915.40,128459.450880,34252.20,231827
2,2021-01-28,113870.357376,30362.19,126703.438592,33783.98,111919.811840,29842.10,125131.570944,33364.86,92621
3,2021-01-27,121753.023104,32464.01,122102.860416,32557.29,109668.146688,29241.72,113885.208960,30366.15,95911
4,2021-01-26,120966.114176,32254.19,123470.218752,32921.88,115652.472448,30837.37,121767.124608,32467.77,84972

In [14]:
# List of file names with corresponding short names
file_info = {
    "daily-treasury-rates - 2018-2021.csv": "treasury_rates_df",
    "Daily Federal Funds Rate from 2018-2021.csv": "federal_funds_df",
    "Crude Oil WTI Futures Historical Data - 2018-2021.csv": "oil_wti_df",
    "Crude Oil Prices Brent - Europe - 2018-2021.csv": "oil_brent_df",
    "Dow Jones Industrial Average-DJIA - 2018-2021.csv": "djia_df",
    "Economic Policy Uncertainty Index for United States - 2018-2021.csv": "uncertainty_index_df",
    "5-Year Breakeven Inflation Rate - 2018-2021.csv": "inflation_rate_df"
}

# Folder path
folder_path = "C:\MIDS\ADS-506-Applied_Time_Series_Analysis\Bitcoin_time_series_analysis_and_forecast\data"  

# Read each file into a separate DataFrame with short names
dataframes = {}
for file_name, short_name in file_info.items():
    file_path = os.path.join(folder_path, file_name)
    dataframes[short_name] = pd.read_csv(file_path)
    
for name in dataframes:
    print(name)

treasury_rates_df
federal_funds_df
oil_wti_df
oil_brent_df
djia_df
uncertainty_index_df
inflation_rate_df

In [16]:
treasury_rates_df.head()

NameError: name 'treasury_rates_df' is not defined